.additionalInfo button{
    background-color: rgba(237, 237, 237, 0.379);
    border: 1px solid rgba(205, 202, 202, 0.511);
    width: 200px;
    height: 35px;
    font-size: 8px;
    font-size: 14px;
    text-align: center;
    color: rgb(107, 104, 104);
    transition: 500ms;
    
   margin-top: 50px;
}

.additionalInfo button:hover {
    background-color: #4090d282;
    border: none;
    border-radius: 2px;
    
  }